In [40]:
ma_list = [1, 2, 3, 4, 5, 2, 4]

print(ma_list)

ma_list.append(6) # ajoute un élément à la fin de la liste
print(ma_list)

[1, 2, 3, 4, 5, 2, 4]
[1, 2, 3, 4, 5, 2, 4, 6]

In [41]:
print(type(ma_list))

print(ma_list[0]) # affiche le premier élément de la liste
print(ma_list[1]) # affiche le deuxième élément de la liste
print(ma_list[7]) # affiche le dernier élément de la liste
print(ma_list[-1]) # affiche le dernier élément de la liste

<class 'list'>
1
2
6
6

In [42]:
print(ma_list[1:]) # affiche tous les éléments de la liste à partir du deuxième

print(ma_list[:4]) # affiche tous les éléments de la liste jusqu'au quatrième

[2, 3, 4, 5, 2, 4, 6]
[1, 2, 3, 4]

In [43]:
new_list = ["I","Love","Python"]

print(new_list)

['I', 'Love', 'Python']

In [44]:
print(new_list[-1])

new_list[1] = "Hate" # remplace le deuxième élément de la liste

Python

In [45]:
print(new_list)

['I', 'Hate', 'Python']

In [46]:
list_2D = [[1,2,3],[4,5,6],[7,8,9]]

print(list_2D)

print(list_2D[1][2]) # affiche le premier élément de la première liste

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

In [47]:
list_2D[1][2] = 10 # remplace le premier élément de la première liste

print(list_2D)

[[1, 2, 3], [4, 5, 10], [7, 8, 9]]

In [48]:
list_2D[0:2][1:]

[[4, 5, 10]]

In [49]:
# Parcourir une liste
for el in ma_list:
    print(el)

# Parcourir une liste avec l'index
for i, el in enumerate(ma_list):
    print(i, el)

# Parcourir une liste avec l'index et la valeur

for i in range(len(ma_list)):
    print(i, ma_list[i])

1
2
3
4
5
2
4
6
0 1
1 2
2 3
3 4
4 5
5 2
6 4
7 6
0 1
1 2
2 3
3 4
4 5
5 2
6 4
7 6

In [50]:
print(ma_list) # affiche la liste
print(ma_list.count(2)) # compte le nombre d'éléments 2 dans la liste
print(ma_list.index(2)) # affiche l'index de l'élément 2
print("Nombre d'élement", len(ma_list)) # affiche la longueur de la liste
ma_list.append(1) # ajoute un élément à la fin de la liste
ma_list.append(2) # ajoute un élément à la fin de la liste
ma_list.pop() # supprime le dernier élément de la liste
ma_list.remove(4) # supprime l'élément 1 de la liste
ma_list.insert(2, 3) # insère l'élément 3 à la position 0
print(ma_list)

[1, 2, 3, 4, 5, 2, 4, 6]
2
1
Nombre d'élement 8
[1, 2, 3, 3, 5, 2, 4, 6, 1]

In [51]:
while ma_list.count(2) > 0:
    ma_list.remove(2)

print(ma_list)

[1, 3, 3, 5, 4, 6, 1]

In [52]:
print(ma_list)

[1, 3, 3, 5, 4, 6, 1]

In [53]:
ma_list.sort() # trie la liste
print(ma_list)

ma_list.reverse() # inverse la liste
print(ma_list)

[1, 1, 3, 3, 4, 5, 6]
[6, 5, 4, 3, 3, 1, 1]

In [54]:
ma_list2 = ma_list.copy() # copie la liste
ma_list3 = ma_list # copie le nom de la liste

print("ma_list",ma_list)
print("ma_list2",ma_list2)
print("ma_list3",ma_list3)

ma_list3[0] = 10 # modifie le premier élément de la liste
print("ma_list",ma_list)
print("ma_list3",ma_list3)

ma_list2[0] = 20 # modifie le premier élément de la liste
print("ma_list",ma_list)
print("ma_list2",ma_list2)

ma_list [6, 5, 4, 3, 3, 1, 1]
ma_list2 [6, 5, 4, 3, 3, 1, 1]
ma_list3 [6, 5, 4, 3, 3, 1, 1]
ma_list [10, 5, 4, 3, 3, 1, 1]
ma_list3 [10, 5, 4, 3, 3, 1, 1]
ma_list [10, 5, 4, 3, 3, 1, 1]
ma_list2 [20, 5, 4, 3, 3, 1, 1]

In [62]:
# oppération sur les listes

list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1 + list2 # concatène les deux listes
print(list3)

[1, 2, 3, 4, 5, 6]

In [56]:
import numpy as np

In [64]:
list1 = np.array([1,2,3])
list2 = np.array([4,5,6])

list3 = list1 + list2 # additionne les deux listes
print(list3)
list3 = list1 - list2 # soustrait les deux listes
print(list3)
list3 = list1 * list2 # multiplie les deux listes
print(list3)
list3 = list1 / list2 # divise les deux listes
print(list3)
list3 = list1 % list2 # modulo les deux listes
print(list3)
list3 = list1 ** list2 # puissance les deux listes
print(list3)
list3 = list1 ** 2 # puissance les deux listes


print(list3)

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]
[1 2 3]
[  1  32 729]
[1 4 9]

In [58]:
print(list3)

[5 7 9]

In [59]:
my_tuple = (1, 2, 3, 4, 5, 2, 4)

print(my_tuple)

print(type(my_tuple))

print(my_tuple[0]) # affiche le premier élément du tuple

print(my_tuple[1]) # affiche le deuxième élément du tuple

(1, 2, 3, 4, 5, 2, 4)
<class 'tuple'>
1
2

In [60]:

my_tuple[1] = 10 # modifie le deuxième élément du tuple

TypeError: 'tuple' object does not support item assignment

In [32]:
my_list2 = [x for x in range(10)] # crée une liste de 0 à 9

In [ ]:
my_list2= []

for x in range(10):
    my_list2.append(x)

In [33]:
print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print("exercise de devinette")

print("Pensee a un nombre entre 0 et 100")

min = 0
max = 100
i = 1
mid = 50
while i<8:

    if min == max:
        print("Le nombre est", mid)
        break
    print("Est-ce que le nombre est plus grand que", mid, "?", end="")
    ouinon = input("oui ou non")
    if ouinon == "oui":
        min = mid
    else:
        max = mid
    mid = (min + max) // 2
    i += 1

exercise de devinette
Pensee a un nombre entre 0 et 100
Est-ce que le nombre est plus grand que 50 ?Est-ce que le nombre est plus grand que 25 ?

In [3]:
import random

In [5]:
liste = [random.randint(1,10) for i in range(100)]

In [7]:
print(liste)

[7, 2, 4, 6, 5, 10, 6, 2, 1, 3, 5, 2, 1, 8, 6, 1, 1, 6, 8, 10, 9, 6, 2, 4, 3, 1, 4, 7, 1, 2, 6, 6, 2, 4, 6, 7, 1, 3, 5, 10, 1, 3, 1, 9, 3, 5, 5, 3, 3, 5, 7, 9, 2, 4, 9, 4, 7, 7, 9, 9, 9, 1, 8, 5, 5, 6, 3, 2, 10, 6, 3, 5, 10, 9, 4, 10, 4, 8, 7, 6, 5, 8, 5, 4, 8, 7, 4, 8, 7, 6, 1, 3, 9, 1, 3, 6, 6, 4, 2, 10]

In [42]:
set_liste = set(liste)

print(set_liste)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
set2 = {2,3,4,6,7,8,22,12}

In [44]:
set_liste.intersection(set2) # intersection des deux ensembles

{2, 3, 4, 6, 7, 8}

In [45]:
set2.add(10) # ajoute un élément à l'ensemble

In [46]:
set2.remove(8) # supprime un élément de l'ensemble

In [52]:
set3 = set2.union(set_liste) # union des deux ensembles
set3.remove(8)

In [63]:
del(liste[0]) # supprime le premier élément de la liste

In [54]:
print(set3)

set2.difference(set_liste) # différence des deux ensembles

{1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 22}

{12, 22}

In [55]:
set2.symmetric_difference(set_liste) # différence symétrique des deux ensembles

{1, 5, 8, 9, 12, 22}

In [20]:
lis=list(set2) # trie l'ensemble
lis.sort()

In [21]:
print(lis)

[2, 3, 4, 6, 7, 10, 12, 22]

In [57]:
Eleve = {'Nom': 'Dupont', 'Prenom': 'Jean', 'Age': 25, 'Notes': [12, 15, 17, 14]}

In [58]:
Eleve["Nom"]

'Dupont'

In [59]:
Eleve['Notes']

[12, 15, 17, 14]

In [60]:
Eleve['Notes'][0] # affiche la première note

Eleve['Notes'][0] = 10 # modifie la première note

In [61]:
print(Eleve)

{'Nom': 'Dupont', 'Prenom': 'Jean', 'Age': 25, 'Notes': [10, 15, 17, 14]}

In [62]:
Eleve["Prenom"] = "K" # modifie le prénom

print(Eleve)

{'Nom': 'Dupont', 'Prenom': 'K', 'Age': 25, 'Notes': [10, 15, 17, 14]}

In [30]:
Eleve['Adresse'] = 'Casa' # ajoute une adresse

print(Eleve)

{'Nom': 'Dupont', 'Prenom': 'K', 'Age': 25, 'Notes': [10, 15, 17, 14], 'Adresse': 'Casa'}

In [ ]:
del(Eleve["Adresse"]) # supprime l'adresse

In [33]:
print(Eleve)

{'Nom': 'Dupont', 'Prenom': 'K', 'Age': 25, 'Notes': [10, 15, 17, 14]}

In [34]:
Eleve.keys() # affiche les clés

dict_keys(['Nom', 'Prenom', 'Age', 'Notes'])

In [35]:
Eleve.values() # affiche les valeurs

dict_values(['Dupont', 'K', 25, [10, 15, 17, 14]])

In [36]:
Eleve.items() # affiche les clés et les valeurs

dict_items([('Nom', 'Dupont'), ('Prenom', 'K'), ('Age', 25), ('Notes', [10, 15, 17, 14])])

In [65]:
for key, value in Eleve.items():
    print("ma clé:", key, ", ma valeur:", value)

ma clé: Nom , ma valeur: Dupont
ma clé: Prenom , ma valeur: K
ma clé: Age , ma valeur: 25
ma clé: Notes , ma valeur: [10, 15, 17, 14]

In [41]:
for key, value in Eleve.items():
    if key == "Nom":
        print("C'est le nom")
        print("La valeur est", value)

    if key == "Prenom":
        value = "Karim"
        print("La valeur est", value)

C'est le nom
La valeur est Dupont
La valeur est Karim

In [ ]:
students = {
    'Alice': {'Age': 24, 'Grade': 'A'},
    'Bob': {'Age': 22, 'Grade': 'B'},
    'Charlie': {'Age': 23, 'Grade': 'C'}
}

print(students)

In [71]:
ma_liste = ['Alice', 'Bob', 'Charlie']

for indice,student in enumerate(ma_liste):
    print(indice,student)

0 Alice
1 Bob
2 Charlie

In [73]:
eleves = [
    {'Nom': 'Dupont',
     'Prenom': 'Jean',
     'Age': 25,
     'Notes': [12, 15, 17, 14]
     },
    {'Nom': 'Martin',
     'Prenom': 'Marie', 'Age': 22, 'Notes': [14, 16, 18, 13]},
    {'Nom': 'Durand', 'Prenom': 'Paul', 'Age': 23, 'Notes': [11, 14, 16, 12]},
    {'Nom': 'Petit', 'Prenom': 'Lucie', 'Age': 24, 'Notes': [13, 15, 17, 15]}
]

print(eleves)

[{'Nom': 'Dupont', 'Prenom': 'Jean', 'Age': 25, 'Notes': [12, 15, 17, 14]}, {'Nom': 'Martin', 'Prenom': 'Marie', 'Age': 22, 'Notes': [14, 16, 18, 13]}, {'Nom': 'Durand', 'Prenom': 'Paul', 'Age': 23, 'Notes': [11, 14, 16, 12]}, {'Nom': 'Petit', 'Prenom': 'Lucie', 'Age': 24, 'Notes': [13, 15, 17, 15]}]

In [74]:
import json

eleves_json = json.dumps(eleves, indent=4)
print(eleves_json)

[
    {
        "Nom": "Dupont",
        "Prenom": "Jean",
        "Age": 25,
        "Notes": [
            12,
            15,
            17,
            14
        ]
    },
    {
        "Nom": "Martin",
        "Prenom": "Marie",
        "Age": 22,
        "Notes": [
            14,
            16,
            18,
            13
        ]
    },
    {
        "Nom": "Durand",
        "Prenom": "Paul",
        "Age": 23,
        "Notes": [
            11,
            14,
            16,
            12
        ]
    },
    {
        "Nom": "Petit",
        "Prenom": "Lucie",
        "Age": 24,
        "Notes": [
            13,
            15,
            17,
            15
        ]
    }
]

In [80]:
eleves[0].get("Niveau", 0)

0