In [3]:
import random as r

In [26]:
list_al = [r.randint(1,10) for i in range(1000)]
print(list_al)

[8, 8, 9, 3, 2, 8, 4, 9, 8, 8, 7, 9, 8, 6, 2, 1, 6, 8, 3, 10, 6, 8, 7, 8, 1, 10, 4, 1, 6, 5, 1, 7, 3, 10, 7, 5, 2, 1, 6, 8, 5, 7, 7, 4, 5, 8, 9, 3, 9, 7, 9, 9, 10, 8, 6, 1, 3, 2, 9, 6, 3, 3, 6, 2, 2, 1, 4, 10, 6, 1, 3, 4, 4, 9, 5, 2, 10, 10, 8, 2, 5, 8, 7, 6, 8, 5, 1, 8, 9, 10, 5, 1, 6, 7, 1, 8, 1, 4, 4, 1, 9, 10, 3, 1, 3, 7, 1, 6, 3, 2, 7, 5, 9, 10, 9, 9, 9, 1, 8, 5, 9, 5, 1, 10, 2, 1, 7, 2, 10, 3, 9, 1, 2, 4, 9, 7, 10, 4, 3, 8, 8, 5, 8, 8, 6, 8, 3, 6, 7, 8, 4, 7, 7, 9, 4, 10, 10, 2, 10, 2, 9, 3, 8, 10, 9, 2, 4, 10, 5, 6, 3, 2, 3, 6, 7, 10, 3, 4, 3, 8, 2, 1, 8, 3, 8, 4, 4, 6, 1, 8, 7, 10, 9, 3, 3, 2, 8, 9, 2, 1, 7, 10, 2, 7, 10, 2, 1, 10, 1, 6, 8, 4, 6, 2, 10, 2, 6, 2, 9, 6, 6, 8, 1, 3, 5, 9, 7, 1, 7, 6, 3, 2, 1, 6, 2, 10, 6, 9, 3, 5, 2, 2, 7, 8, 10, 9, 9, 8, 7, 5, 9, 10, 3, 8, 5, 1, 4, 4, 3, 9, 5, 3, 8, 9, 2, 6, 2, 6, 1, 1, 9, 7, 9, 4, 8, 3, 6, 6, 8, 4, 7, 10, 2, 9, 3, 6, 8, 4, 4, 6, 7, 10, 7, 9, 7, 4, 10, 2, 9, 7, 4, 7, 6, 2, 6, 9, 6, 4, 6, 3, 9, 3, 8, 8, 1, 4, 2, 10, 5, 7, 6, 9, 4, 9, 5, 9, 9, 7, 2, 8, 5, 2, 3, 3, 5, 7, 6, 2, 7, 10, 6, 1, 2, 9, 6, 6, 3, 2, 5, 9, 5, 6, 4, 1, 9, 5, 1, 7, 1, 10, 5, 5, 6, 9, 5, 1, 6, 4, 5, 3, 9, 8, 10, 7, 9, 7, 3, 6, 6, 8, 1, 6, 8, 4, 8, 2, 2, 6, 9, 2, 5, 1, 6, 6, 7, 5, 8, 7, 10, 5, 4, 2, 3, 7, 8, 10, 2, 2, 1, 10, 6, 9, 5, 2, 1, 10, 10, 1, 9, 9, 6, 6, 8, 8, 8, 9, 7, 9, 1, 5, 3, 5, 4, 4, 7, 3, 1, 6, 7, 10, 2, 6, 5, 1, 2, 7, 2, 2, 4, 7, 6, 8, 2, 3, 9, 2, 6, 5, 9, 9, 4, 1, 10, 4, 2, 4, 2, 1, 7, 10, 9, 9, 6, 9, 5, 6, 8, 6, 1, 4, 8, 8, 4, 8, 9, 1, 10, 5, 4, 8, 3, 3, 9, 6, 8, 7, 5, 8, 8, 4, 10, 3, 1, 10, 9, 1, 5, 3, 5, 8, 3, 8, 6, 7, 2, 5, 9, 5, 3, 3, 4, 10, 1, 9, 1, 3, 1, 6, 9, 7, 1, 4, 8, 9, 3, 4, 1, 3, 2, 1, 2, 3, 9, 2, 3, 3, 6, 5, 6, 8, 10, 4, 6, 3, 1, 3, 4, 5, 4, 1, 6, 2, 1, 3, 10, 7, 3, 3, 2, 3, 3, 6, 8, 8, 6, 8, 10, 10, 7, 2, 7, 10, 7, 9, 1, 9, 2, 7, 9, 5, 6, 1, 2, 8, 6, 2, 7, 3, 9, 10, 4, 2, 10, 4, 5, 3, 10, 6, 5, 6, 2, 3, 10, 4, 3, 9, 9, 4, 9, 6, 7, 8, 8, 5, 8, 7, 6, 4, 4, 1, 10, 9, 7, 8, 3, 5, 6, 9, 7, 6, 2, 9, 1, 8, 5, 1, 10, 9, 3, 6, 6, 6, 1, 4, 4, 8, 7, 8, 5, 5, 8, 10, 3, 1, 1, 6, 1, 6, 5, 3, 4, 3, 5, 2, 2, 10, 7, 5, 9, 7, 3, 3, 8, 6, 9, 2, 3, 3, 1, 3, 4, 5, 7, 7, 4, 6, 4, 8, 3, 6, 8, 10, 8, 10, 8, 5, 7, 6, 5, 2, 1, 2, 5, 3, 6, 10, 10, 3, 4, 4, 5, 9, 6, 8, 1, 8, 9, 1, 1, 7, 5, 9, 10, 5, 1, 2, 10, 2, 2, 1, 9, 4, 7, 8, 4, 6, 3, 10, 10, 6, 7, 10, 7, 9, 10, 5, 3, 4, 6, 7, 10, 9, 4, 8, 2, 10, 10, 10, 9, 10, 10, 3, 7, 9, 4, 1, 9, 9, 4, 2, 2, 9, 5, 1, 9, 4, 8, 6, 4, 1, 6, 1, 8, 7, 4, 9, 3, 9, 2, 8, 10, 1, 4, 6, 7, 10, 1, 3, 7, 8, 3, 7, 3, 7, 4, 1, 9, 5, 8, 6, 9, 2, 8, 1, 10, 8, 2, 1, 10, 2, 6, 6, 9, 10, 10, 2, 8, 10, 6, 10, 1, 1, 2, 3, 1, 9, 5, 9, 2, 9, 7, 3, 5, 10, 9, 9, 10, 7, 10, 3, 6, 1, 3, 3, 2, 10, 1, 7, 4, 8, 9, 2, 5, 3, 8, 6, 3, 7, 5, 8, 2, 4, 7, 1, 9, 1, 6, 5, 7, 8, 9, 5, 2, 5, 9, 3, 5, 7, 1, 3, 6, 4, 7, 8, 10, 4, 8, 3, 3, 9, 4, 7, 2, 10, 4, 8, 1, 10, 3, 9, 2, 7, 1, 9, 6, 7, 10, 10, 4, 1, 3, 10, 2, 7, 4, 6, 1, 3, 10, 9, 1, 8, 1, 2, 10, 5, 7, 6, 5, 4, 5, 7, 1, 7, 10, 7, 6, 8, 4, 10, 6, 9, 1, 5, 2, 7, 6, 4, 4, 1, 1, 4, 5, 8, 9, 6, 2, 2, 8, 6, 6, 2, 2, 3, 4, 10, 9, 9, 2, 2, 4, 2, 7, 8, 7, 8, 9, 5, 1, 1]

In [3]:
list_r = []

for i in range(10):
    list_r.append(i)
print(list_r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
set_al = set(list_al) #set is a collection of unique elements

print(set_al)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
set2 = {1,4,6,8,10,12,14,16,18,20}
print(set2)

{1, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [6]:
set_union = set_al.union(set2)
print(set_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [7]:
set_intersection = set_al.intersection(set2)
print(set_intersection)

{1, 4, 6, 8, 10}

In [8]:
set_difference = set_al.difference(set2)
print(set_difference)

{2, 3, 5, 7, 9}

In [9]:
set_difference_sym = set_al.symmetric_difference(set2)
print(set_difference_sym)

{2, 3, 5, 7, 9, 12, 14, 16, 18, 20}

In [10]:
set_al.add(100) #add element to set
print(set_al)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [11]:
set_al.remove(100) #remove element from set
print(set_al)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
list1 = [1,2,3,4,5,6,7,8,9,10,1,4,5,6,4]

In [5]:
ordi_anas= {
    "Marque": "HP",
    "Modele": "Elitebook",
    "Disk": {"type": "SSD", "size": 512},
    "RAM": 8,
    "CPU": "i5",
}

odri_idriss = {
    "Marque": "Dell",
    "Modele": "Latitude",
    "Disk": {"type": "HDD", "size": 256},
    "RAM": 4,
    "CPU": "i3",
}

list_ordi = [ordi_anas, odri_idriss]


print(list_ordi)

[{'Marque': 'HP', 'Modele': 'Elitebook', 'Disk': {'type': 'SSD', 'size': 512}, 'RAM': 8, 'CPU': 'i5'}, {'Marque': 'Dell', 'Modele': 'Latitude', 'Disk': {'type': 'HDD', 'size': 256}, 'RAM': 4, 'CPU': 'i3'}]

In [13]:
elemet_rep = []
for i in set(list1):
    elemet_rep.append(i)

print(elemet_rep)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
Eleve =  {
          "Nom": "Jean",
          "Prenom": "Dupont",
          "Age": 25,
          "Classe": "Terminale S",
          "Notes": [12, 15, 18, 9, 10]
          }

print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 25, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}

In [7]:
print(Eleve["Nom"]) #access to the value of the key "Nom"

Eleve["Age"] = 20 #modify the value of the key "Age"
print(Eleve)

Eleve['adresse'] = "12 rue de la paix" #add a new key "adresse"
print(Eleve)

Jean
{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}
{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '12 rue de la paix'}

In [8]:
del(Eleve['adresse']) #delete the key "adresse"

print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}

In [17]:
Eleve.update({"adresse": "12 rue de la paix", "Ville": "Paris"}) #add multiple keys
print(Eleve)
Eleve.update({"adresse": "15 rue Soumiya Derb ghalef", "Ville": "Casablanca"}) #add multiple keys
print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '12 rue de la paix', 'Ville': 'Paris'}
{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '15 rue Soumiya Derb ghalef', 'Ville': 'Casablanca'}

In [18]:
Eleve.pop("Ville") #delete the key "Ville"
print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '15 rue Soumiya Derb ghalef'}

In [10]:
print(Eleve['Notes'])

[12, 15, 18, 9, 10]

In [11]:
Eleve["Notes"][3] = 10 #modify the value of the 4th element of the list "Notes"

In [12]:
print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 10, 10]}

In [13]:
Eleve.clear() #delete all the keys and values of the dictionary

In [14]:
print(Eleve)

{}

In [15]:
listes_des_eleves = [
    {"Nom": "Jean", "Prenom": "Dupont", "Age": 25, "Classe": "Terminale S", "Notes": [12, 15, 18, 9, 10]},
    {"Nom": "Marie", "Prenom": "Curie", "Age": 22, "Classe": "Terminale S", "Notes": [14, 16, 17, 10, 12]},
    {"Nom": "Albert", "Prenom": "Einstein", "Age": 24, "Classe": "Terminale S", "Notes": [15, 18, 19, 11, 13]}
]

print(listes_des_eleves)

[{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 25, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}, {'Nom': 'Marie', 'Prenom': 'Curie', 'Age': 22, 'Classe': 'Terminale S', 'Notes': [14, 16, 17, 10, 12]}, {'Nom': 'Albert', 'Prenom': 'Einstein', 'Age': 24, 'Classe': 'Terminale S', 'Notes': [15, 18, 19, 11, 13]}]

In [21]:
listes_des_eleves[0]['Notes'].sort(reverse = True) #sort the list of the first student
listes_des_eleves[0]['Notes']

[18, 15, 12, 10, 9]

In [22]:
import json

with open("Eleve.json", "w") as f:
    json.dump(listes_des_eleves, f)

In [1]:
print(listes_des_eleves)

NameError: name 'listes_des_eleves' is not defined

In [2]:
import json
with open("Eleve.json", "r") as f:
    data = json.load(f)

print(data)

[{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 25, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}, {'Nom': 'Marie', 'Prenom': 'Curie', 'Age': 22, 'Classe': 'Terminale S', 'Notes': [14, 16, 17, 10, 12]}, {'Nom': 'Albert', 'Prenom': 'Einstein', 'Age': 24, 'Classe': 'Terminale S', 'Notes': [15, 18, 19, 11, 13]}]

In [ ]:
dict1 = {"parametre circuit": (5,12,220,"ac")}

In [23]:
Eleve

{}

In [31]:
ordi_anas.items()

dict_items([('Marque', 'HP'), ('Modele', 'Elitebook'), ('Disk', {'type': 'SSD', 'size': 512}), ('RAM', 8), ('CPU', 'i5')])

In [34]:
for k,v in ordi_anas.items():
    print(k,":",v)

Marque : HP
Modele : Elitebook
Disk : {'type': 'SSD', 'size': 512}
RAM : 8
CPU : i5

In [30]:
list_nom = ['anas','salma','idriss','soumiya']

for name in list_nom:
    print("Hello,",name)

Hello, anas
Hello, salma
Hello, idriss
Hello, soumiya