In [1]:
import random as r

In [2]:
list_al = [r.randint(1,10) for i in range(1000)]
print(list_al)

[9, 3, 10, 6, 9, 9, 7, 1, 2, 5, 10, 3, 7, 3, 4, 2, 4, 6, 5, 7, 5, 6, 3, 2, 2, 5, 5, 8, 4, 2, 8, 5, 3, 3, 2, 3, 8, 4, 5, 8, 9, 10, 1, 5, 5, 2, 6, 2, 1, 5, 1, 10, 7, 5, 2, 2, 2, 3, 1, 2, 1, 10, 10, 7, 2, 5, 6, 8, 6, 3, 3, 9, 6, 8, 7, 6, 8, 3, 3, 8, 1, 2, 3, 1, 7, 8, 7, 3, 9, 1, 8, 1, 3, 6, 2, 9, 8, 5, 9, 2, 3, 5, 9, 10, 3, 3, 2, 6, 1, 8, 5, 8, 9, 10, 10, 4, 2, 4, 8, 7, 9, 7, 9, 7, 10, 4, 8, 1, 7, 9, 4, 10, 7, 3, 10, 4, 2, 7, 7, 10, 2, 6, 2, 7, 6, 8, 9, 9, 3, 9, 9, 2, 5, 8, 1, 8, 8, 4, 2, 9, 1, 4, 3, 9, 7, 2, 5, 5, 8, 5, 4, 1, 5, 4, 6, 3, 10, 5, 3, 6, 6, 6, 8, 3, 7, 10, 5, 7, 10, 3, 3, 3, 5, 2, 6, 2, 2, 8, 4, 7, 2, 7, 9, 10, 9, 3, 5, 8, 8, 5, 4, 2, 3, 9, 2, 5, 6, 5, 3, 2, 10, 10, 10, 2, 1, 2, 5, 4, 10, 9, 2, 4, 10, 2, 4, 7, 2, 2, 1, 3, 3, 3, 9, 10, 1, 10, 5, 10, 9, 6, 5, 9, 8, 10, 1, 7, 2, 3, 3, 10, 5, 8, 8, 3, 5, 2, 5, 9, 9, 7, 8, 10, 10, 2, 2, 1, 3, 1, 10, 8, 1, 10, 6, 10, 7, 9, 7, 4, 8, 6, 1, 1, 10, 4, 3, 7, 10, 1, 5, 2, 5, 5, 8, 6, 6, 6, 10, 4, 3, 8, 4, 7, 2, 10, 6, 5, 9, 4, 3, 8, 5, 7, 2, 3, 5, 2, 6, 6, 9, 5, 6, 6, 10, 1, 2, 10, 3, 9, 7, 4, 5, 5, 8, 8, 3, 1, 10, 7, 4, 4, 10, 4, 7, 10, 4, 1, 7, 5, 10, 6, 9, 10, 3, 9, 3, 1, 10, 4, 9, 7, 7, 4, 4, 3, 8, 1, 6, 9, 6, 1, 10, 9, 2, 10, 8, 6, 4, 2, 5, 10, 6, 1, 9, 1, 10, 1, 8, 8, 10, 6, 6, 9, 2, 6, 6, 10, 6, 5, 10, 8, 3, 5, 4, 7, 10, 8, 10, 1, 4, 7, 9, 10, 1, 1, 1, 6, 9, 3, 4, 8, 9, 6, 8, 7, 7, 9, 10, 1, 2, 7, 1, 3, 9, 4, 5, 10, 4, 9, 5, 8, 3, 6, 4, 1, 7, 1, 6, 10, 5, 4, 5, 2, 10, 9, 1, 2, 2, 7, 6, 6, 8, 6, 1, 3, 4, 1, 9, 7, 8, 6, 3, 5, 5, 1, 7, 5, 1, 5, 4, 4, 4, 5, 8, 1, 9, 5, 8, 1, 2, 2, 9, 10, 4, 8, 4, 10, 6, 1, 9, 6, 3, 10, 7, 6, 9, 1, 8, 5, 4, 9, 3, 4, 7, 5, 4, 7, 2, 1, 9, 8, 10, 10, 1, 5, 4, 1, 6, 9, 8, 9, 2, 3, 9, 10, 8, 6, 10, 9, 1, 3, 5, 6, 5, 2, 8, 10, 4, 6, 1, 2, 7, 9, 4, 3, 6, 6, 6, 8, 2, 3, 1, 7, 10, 10, 7, 8, 6, 3, 3, 2, 4, 4, 3, 9, 6, 5, 6, 6, 6, 5, 4, 10, 8, 7, 7, 6, 6, 10, 6, 10, 10, 9, 7, 7, 5, 7, 8, 10, 6, 9, 6, 7, 1, 4, 6, 7, 3, 6, 1, 8, 1, 8, 6, 5, 2, 5, 9, 8, 5, 6, 4, 2, 8, 5, 4, 9, 8, 2, 3, 1, 9, 4, 9, 10, 6, 1, 2, 3, 1, 4, 1, 4, 7, 4, 3, 6, 9, 9, 9, 9, 1, 8, 5, 10, 6, 3, 5, 3, 1, 10, 7, 1, 4, 7, 4, 9, 1, 1, 1, 6, 10, 4, 7, 7, 2, 3, 1, 2, 1, 10, 2, 8, 2, 1, 7, 10, 8, 1, 2, 6, 2, 10, 5, 2, 6, 7, 9, 5, 7, 5, 5, 9, 3, 8, 3, 3, 6, 4, 10, 5, 9, 4, 4, 3, 5, 4, 9, 6, 4, 3, 6, 9, 9, 2, 3, 5, 8, 10, 3, 4, 9, 5, 5, 1, 9, 6, 10, 4, 3, 5, 5, 9, 6, 3, 5, 8, 3, 2, 7, 5, 1, 9, 2, 7, 1, 6, 7, 4, 2, 5, 9, 1, 7, 2, 1, 2, 1, 6, 7, 4, 9, 2, 3, 3, 9, 7, 1, 4, 6, 8, 6, 7, 6, 10, 5, 7, 3, 4, 6, 7, 1, 5, 8, 8, 1, 3, 5, 8, 2, 7, 2, 6, 3, 3, 7, 4, 5, 10, 10, 4, 3, 2, 5, 6, 9, 3, 2, 9, 6, 6, 3, 5, 3, 6, 4, 8, 5, 4, 8, 6, 4, 3, 5, 6, 7, 9, 8, 4, 2, 8, 4, 7, 8, 3, 9, 4, 1, 10, 1, 7, 2, 8, 7, 6, 6, 1, 10, 10, 5, 3, 2, 10, 1, 7, 6, 2, 4, 6, 1, 8, 1, 4, 3, 2, 9, 2, 1, 9, 6, 7, 7, 6, 10, 8, 1, 5, 9, 10, 5, 6, 9, 3, 3, 6, 3, 7, 3, 9, 7, 3, 5, 3, 6, 9, 9, 7, 1, 6, 10, 6, 9, 7, 3, 6, 5, 10, 3, 10, 9, 5, 9, 6, 7, 9, 3, 8, 3, 7, 5, 1, 4, 9, 9, 8, 7, 3, 4, 10, 5, 5, 3, 4, 2, 4, 9, 5, 6, 7, 5, 2, 7, 10, 8, 1, 9, 8, 8, 10, 10, 2, 8, 10, 8, 9, 6, 1, 7, 2, 7, 7, 7, 5, 2, 8, 10, 3, 1, 9, 3, 8, 9, 6, 6, 6, 1, 3, 7, 7, 2, 9]

In [3]:
list_r = []

for i in range(10):
    list_r.append(i)
print(list_r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
set_al = set(list_al) #set is a collection of unique elements

print(set_al)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
set2 = {1,4,6,8,10,12,14,16,18,20}
print(set2)

{1, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [6]:
set_union = set_al.union(set2)
print(set_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [7]:
set_intersection = set_al.intersection(set2)
print(set_intersection)

{1, 4, 6, 8, 10}

In [8]:
set_difference = set_al.difference(set2)
print(set_difference)

{2, 3, 5, 7, 9}

In [9]:
set_difference_sym = set_al.symmetric_difference(set2)
print(set_difference_sym)

{2, 3, 5, 7, 9, 12, 14, 16, 18, 20}

In [10]:
set_al.add(100) #add element to set
print(set_al)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [11]:
set_al.remove(100) #remove element from set
print(set_al)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
list1 = [1,2,3,4,5,6,7,8,9,10,1,4,5,6,4]

In [13]:
elemet_rep = []
for i in set(list1):
    elemet_rep.append(i)

print(elemet_rep)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
Eleve =  {
          "Nom": "Jean",
          "Prenom": "Dupont",
          "Age": 25,
          "Classe": "Terminale S",
          "Notes": [12, 15, 18, 9, 10]
          }

print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 25, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}

In [15]:
print(Eleve["Nom"]) #access to the value of the key "Nom"

Eleve["Age"] = 20 #modify the value of the key "Age"
print(Eleve)

Eleve['adresse'] = "12 rue de la paix" #add a new key "adresse"
print(Eleve)

Jean
{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}
{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '12 rue de la paix'}

In [16]:
del(Eleve['adresse']) #delete the key "adresse"

print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}

In [17]:
Eleve.update({"adresse": "12 rue de la paix", "Ville": "Paris"}) #add multiple keys
print(Eleve)
Eleve.update({"adresse": "15 rue Soumiya Derb ghalef", "Ville": "Casablanca"}) #add multiple keys
print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '12 rue de la paix', 'Ville': 'Paris'}
{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '15 rue Soumiya Derb ghalef', 'Ville': 'Casablanca'}

In [18]:
Eleve.pop("Ville") #delete the key "Ville"
print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10], 'adresse': '15 rue Soumiya Derb ghalef'}

In [19]:
Eleve["Notes"][3] = 10 #modify the value of the 4th element of the list "Notes"

In [20]:
print(Eleve)

{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 20, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 10, 10], 'adresse': '15 rue Soumiya Derb ghalef'}

In [21]:
Eleve.clear() #delete all the keys and values of the dictionary

In [22]:
print(Eleve)

{}

In [25]:
listes_des_eleves = [
    {"Nom": "Jean", "Prenom": "Dupont", "Age": 25, "Classe": "Terminale S", "Notes": [12, 15, 18, 9, 10]},
    {"Nom": "Marie", "Prenom": "Curie", "Age": 22, "Classe": "Terminale S", "Notes": [14, 16, 17, 10, 12]},
    {"Nom": "Albert", "Prenom": "Einstein", "Age": 24, "Classe": "Terminale S", "Notes": [15, 18, 19, 11, 13]}
]

print(listes_des_eleves)

[{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 25, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}, {'Nom': 'Marie', 'Prenom': 'Curie', 'Age': 22, 'Classe': 'Terminale S', 'Notes': [14, 16, 17, 10, 12]}, {'Nom': 'Albert', 'Prenom': 'Einstein', 'Age': 24, 'Classe': 'Terminale S', 'Notes': [15, 18, 19, 11, 13]}]

In [26]:
import json

with open("Eleve.json", "w") as f:
    json.dump(listes_des_eleves, f)

In [27]:
with open("Eleve.json", "r") as f:
    data = json.load(f)

print(data)

[{'Nom': 'Jean', 'Prenom': 'Dupont', 'Age': 25, 'Classe': 'Terminale S', 'Notes': [12, 15, 18, 9, 10]}, {'Nom': 'Marie', 'Prenom': 'Curie', 'Age': 22, 'Classe': 'Terminale S', 'Notes': [14, 16, 17, 10, 12]}, {'Nom': 'Albert', 'Prenom': 'Einstein', 'Age': 24, 'Classe': 'Terminale S', 'Notes': [15, 18, 19, 11, 13]}]